<!DOCTYPE html>
<html>
  <head>
    <title>Pampered Panda</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">


  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'layouts/navigation' %>

  <%= yield %>
  
  <%= render 'layouts/footer' %>

</body>
</html>
